<footer class="uk-section uk-section-warning">
  <div class="uk-container">
    <div class="uk-grid-large uk-child-width-1-2@s" uk-grid>
      <div>
        <h4 class="uk-heading-bullet uk-text-capitalize">Навигация</h4>
        <ul class="uk-list">
          <li>
            <a class="uk-text-decoration-none uk-button-text"
               href="{% url 'works:home_page' %}">Главная</a>
          </li>
          <li>
            <a class="uk-text-decoration-none uk-button-text"
               href="{% url 'about_us' %}">О Нас</a>
          </li>
          <li>
            <a class="uk-text-decoration-none uk-button-text"
               href="{% url 'works:services' %}">Услуги</a>
          </li>
        </ul>
      </div>
            <div>
        <h4 class="uk-heading-bullet uk-text-capitalize">Контакты</h4>
        <p>
          <a href="{% url 'contacts' %}#onTheMap"
             class="uk-icon-button"
             uk-icon="location"></a>{{ address }}
        </p>
        <p class="uk-margin-top">
          <a href="mailto:{{company.email}}"
             class="uk-icon-button"
             uk-icon="mail"
             role="img"></a>{{ company.email }}
        </p>
        <p>
          <a href="tel:{{ company.phone }}"
             class="uk-icon-button"
             uk-icon="phone"
             role="img"></a> {{ company.phone }}
        </p>
        <p>
          <a class="uk-icon-button" uk-icon="clock" role="img"></a>{{ opening_hours }}
        </p>
      </div>
    </div>
  </div>
</footer>
<div class="uk-section uk-section-secondary uk-text-center uk-padding-small uk-margin-remove">
  <div class="uk-container">
    <p class="uk-text-small">&copy; {% now "Y" %} {{ company.name|upper }}. Все права защищены.</p>
    <p class="uk-margin-remove-top uk-text-meta">
      <a href="https://t.me/shyuldashov/" class="uk-link-muted">Made with
        <span class="uk-icon uk-text-danger" uk-icon="heart"></span> Shoxrux Yuldashov
      </a>
    </p>
  </div>
</div>
