{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="ru">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description"
        content="Best Works – лучшее решение для ремонта и строительства. Мастер с опытом, качественные услуги под ключ: от мелкого ремонта до крупных строительных проектов.">
  <meta name="keywords"
        content="строительные работы, ремонт квартир, ремонт под ключ, строительные услуги, качественный ремонт, строительные работы Иваново, ремонт Ярославль, строительные услуги Владимир">
  <meta name="robots" content="index, follow">
  <meta name="author" content="Best Works – Профессиональный строитель">
  <meta property="og:title"
        content="Best Works – ремонт и строительство в Иваново, Ярославле, Владимире и Костроме">
  <meta property="og:description"
        content="Профессиональный мастер предлагает качественные строительные и ремонтные услуги для Вашего дома или офиса.">
  <meta property="og:image" content="#">
  <meta property="og:url" content="https://best-works.ru">
  <meta property="og:type" content="website">
  <meta name="twitter:card" content="#">
  <meta name="twitter:title"
        content="Best Works – Строительные и ремонтные работы в Иваново, Ярославле, Владимире и Костроме">
  <meta name="twitter:description"
        content="Лучшие решения для ремонта и строительства. Мастер с опытом предлагает качественные услуги.">
  <meta name="twitter:image" content="#">
  <title>
    {% block title %}Best Works – Ремонт и строительные услуги | Качество и надежность{% endblock %}
  </title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/css/uikit.min.css" />
  <link rel="icon" type="image/x-icon"  href="{% static 'favicon.png' %}">
  <script defer
          src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit.min.js"></script>
  <script defer
          src="https://cdn.jsdelivr.net/npm/uikit@3.21.13/dist/js/uikit-icons.min.js"></script>
</head>
