<h2 class="uk-heading-line uk-text-center uk-hidden@s">
  <span>Почему выбирают нас?</span>
</h2>
<h2 class="uk-heading-line uk-text-center uk-heading-large uk-visible@s">
  <span>Почему выбирают нас?</span>
</h2>
<div class="uk-child-width-1-2@m"
     uk-grid
     uk-scrollspy="cls: uk-animation-fade; target: .uk-card; delay: 500; repeat: true">
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="user"></span> Индивидуальный подход
      </h3>
      <p>Каждый наш клиент уникален. Мы подбираем решения, которые точно соответствуют Вашим требованиям и желаниям.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="star"></span> Профессионализм
      </h3>
      <p>
        Мы имеем более 15 лет опыта в строительстве и ремонте, гарантируя высокое качество работ и безупречный результат.
      </p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="cog"></span> Современные технологии
      </h3>
      <p>Мы используем только проверенные материалы и новейшие технологии, чтобы Ваши проекты служили долго и эффективно.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="lifesaver"></span> Гарантия качества
      </h3>
      <p>На каждом этапе наши работы проходят тщательный контроль, чтобы результат оправдал Ваши ожидания на 100%.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="credit-card"></span> Доступные цены
      </h3>
      <p>Мы предлагаем честные и прозрачные цены, что позволяет Вам реализовать свои планы без лишних затрат.</p>
    </div>
  </div>
  <div>
    <div class="uk-card uk-card-default uk-card-body">
      <h3 class="uk-card-title">
        <span uk-icon="bell"></span> Поддержка 24/7
      </h3>
      <p>Готовы помочь Вам в любое время, чтобы обеспечить комфорт на всех этапах работы.</p>
    </div>
  </div>
</div>
