<div class="uk-position-relative uk-visible-toggle uk-light uk-margin-large-top"
     tabindex="-1"
     uk-slider="center: true; autoplay: true; autoplay-interval: 3000; pause-on-hover: true">
  <div class="uk-slider-items uk-grid">
    <div class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://dummyimage.com/1280x720/b06023/43444f.png"
             width="95%"
             height="50%"
             alt="">
      </div>
    </div>
    <div class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://dummyimage.com/1280x720/b06023/43444f.png"
             width="95%"
             height="50%"
             alt="">
      </div>
    </div>
    <div class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://dummyimage.com/1280x720/b06023/43444f.png"
             width="95%"
             height="50%"
             alt="">
      </div>
    </div>
    <div class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://dummyimage.com/1280x720/b06023/43444f.png"
             width="95%"
             height="50%"
             alt="">
      </div>
    </div>
    <div class="uk-width-3-4">
      <div class="uk-panel">
        <img src="https://dummyimage.com/1280x720/b06023/43444f.png"
             width="95%"
             height="50%"
             alt="">
      </div>
    </div>
  </div>
  <a class="uk-position-center-left uk-position-small uk-hidden-hover"
     href
     uk-slidenav-previous
     uk-slider-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover"
     href
     uk-slidenav-next
     uk-slider-item="next"></a>
</div>
