<h2 class="uk-heading-line uk-text-center uk-hidden@s">
  <span>Наши клиенты говорят</span>
</h2>
<h2 class="uk-heading-line uk-text-center uk-heading-large uk-visible@s">
  <span>Наши клиенты говорят</span>
</h2>
<div class="uk-position-relative uk-visible-toggle uk-light"
     tabindex="-1"
     uk-slider="autoplay: true; autoplay-interval: 3000">
  <ul class="uk-slider-items uk-child-width-1-2@s uk-grid">
    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle"
                   width="40"
                   height="40"
                   src="https://dummyimage.com/40x40/b06023/43444f.png"
                   alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Отзыв 1</h3>
              <p class="uk-text-meta uk-margin-remove-top">10.20.2013</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle"
                   width="40"
                   height="40"
                   src="https://dummyimage.com/40x40/b06023/43444f.png"
                   alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Отзыв 2</h3>
              <p class="uk-text-meta uk-margin-remove-top">11.15.2015</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle"
                   width="40"
                   height="40"
                   src="https://dummyimage.com/40x40/b06023/43444f.png"
                   alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Отзыв 3</h3>
              <p class="uk-text-meta uk-margin-remove-top">12.10.2020</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="uk-card uk-card-default">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle"
                   width="40"
                   height="40"
                   src="https://dummyimage.com/40x40/b06023/43444f.png"
                   alt="Avatar">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">Отзыв 4</h3>
              <p class="uk-text-meta uk-margin-remove-top">12.10.2020</p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <p>Curabitur gravida arcu ac tortor dignissim convallis aenean et tortor.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
