<nav class="uk-navbar-container">
  <div class="uk-container">
    <div uk-navbar class="uk-hidden@m">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          <li class="">
            <a href="#" class="uk-text-emphasis" uk-icon="icon: receiver"></a>
          </li>
          <li class="uk-text-warning">
            <a href="#" class="uk-text-primary" uk-icon="icon: telegram"></a>
          </li>
          <li class="">
            <a href="#" class="uk-text-success" uk-icon="icon: whatsapp"></a>
          </li>
        </ul>
      </div>
      <div class="uk-navbar-center">
        <a class="uk-logo uk-text-bold uk-text-uppercase uk-text-warning uk-text-bottom"
           href="#">Best Works</a>
      </div>
      <div class="uk-navbar-right">
        <a class="uk-button uk-button-default uk-margin-small-right"
           type="button"
           uk-toggle="target: #mobile-navbar"><span uk-icon="icon: menu;"></span></a>
      </div>
    </div>
  </div>
</nav>
<div id="mobile-navbar" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      <li class="uk-active">
        <a href="#">Главная</a>
      </li>
      <li>
        <a href="#">О Нас</a>
      </li>
      <li>
        <a href="#">Услуги</a>
      </li>
      <li class="uk-nav-divider"></li>
      <li>
        <a href="#"><span class="uk-margin-small-right uk-text-warning" uk-icon="icon: phone"></span>Контакты</a>
      </li>
    </ul>
  </div>
</div>
