<nav class="uk-navbar-container"
     uk-sticky="start: 200; animation: uk-animation-slide-top; sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky; cls-inactive: uk-navbar-transparent uk-secondary">
  <div class="uk-container uk-background-secondary">
    <div uk-navbar class="uk-hidden@m">
      <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
          {% include 'includes/social_networks.html' %}
        </ul>
      </div>
      <div class="uk-navbar-center">
        <a class="uk-logo uk-text-bold uk-text-uppercase uk-text-warning uk-text-bottom"
           href="{% url 'works:home_page' %}">{{ company.name|upper }}</a>
      </div>
      <div class="uk-navbar-right">
        <a class="uk-button  uk-button-small uk-margin-small-right"
           type="button"
           uk-toggle="target: #mobile-navbar"><span uk-icon="icon: menu;"></span></a>
      </div>
    </div>
  </div>
</nav>
<div id="mobile-navbar" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar uk-flex uk-flex-column">
    <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
      {% url 'works:home_page' as url %}
      <li class="{% if request.path == url %}uk-active{% endif %}">
        <a href="{% url 'works:home_page' %}">Главная</a>
      </li>
      {% url 'about_us' as url %}
      <li class="{% if request.path == url %}uk-active{% endif %}">
        <a href="{% url 'about_us' %}">О Нас</a>
      </li>
      {% url 'works:services' as url %}
      <li class="{% if request.path == url %}uk-active{% endif %}">
        <a href="{% url 'works:services' %}">Услуги</a>
      </li>
      <li class="uk-nav-divider"></li>
      {% url 'contacts' as url %}
      <li class="{% if request.path == url %}uk-active{% endif %}">
        <a href="{% url 'contacts' %}">
          <span class="uk-margin-small-right uk-text-warning" uk-icon="icon: phone"></span>
          Контакты
        </a>
      </li>
    </ul>
    <ul class="uk-navbar-nav">
      <li>
        <a href="tel:{{ company.phone }}"
           class="uk-text-emphasis"
           uk-icon="icon: receiver"></a>
      </li>
      {% include 'includes/social_networks.html' %}
    </ul>
  </div>
</div>
