{% extends 'base.html' %}
{% block content %}
  <div class="uk-position-relative uk-visible@s">
    <img src="https://dummyimage.com/1800x1200/b06023/43444f.png"
         width="1800"
         height="1200"
         alt="">
  </div>
  <div class="uk-block"
       uk-parallax="blur: 5; sepia: 50;"
       style="overflow-wrap: break-word;
              word-wrap: break-word">
    <h2 class="uk-heading-xlarge uk-text-left uk-text-capitalize uk-hidden@s">Делаем как для себя</h2>
  </div>
  {% enblock %}
