{% extends 'base.html' %}
<title>
  {% block title %}Best Works | О Нас{% endblock %}
</title>
{% block content %}
  <div class="uk-section uk-section-default">
    <div class="uk-container">
      <h2 class="uk-heading-line">
        <span>Наши услуги</span>
      </h2>
      <div class="uk-grid-match uk-child-width-1-2@m uk-text-center"
           uk-grid
           uk-scrollspy="cls: uk-animation-scale-up; target: .uk-card; delay: 150; repeat: true">
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <img src="https://via.placeholder.com/600x400"
                 alt="Проект 1"
                 class="uk-margin-bottom">
            <h3 class="uk-card-title">Строительство домов</h3>
            <p>Мы предлагаем полный спектр услуг по строительству домов «под ключ» с использованием современных технологий.</p>
            <a href="tel:+71234567890" class="uk-button uk-button-secondary">Получить консультацию</a>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <img src="https://via.placeholder.com/600x400"
                 alt="Проект 1"
                 class="uk-margin-bottom">
            <h3 class="uk-card-title">Строительство домов</h3>
            <p>Мы предлагаем полный спектр услуг по строительству домов «под ключ» с использованием современных технологий.</p>
            <a href="tel:+71234567890" class="uk-button uk-button-secondary">Получить консультацию</a>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <img src="https://via.placeholder.com/600x400"
                 alt="Проект 1"
                 class="uk-margin-bottom">
            <h3 class="uk-card-title">Строительство домов</h3>
            <p>Мы предлагаем полный спектр услуг по строительству домов «под ключ» с использованием современных технологий.</p>
            <a href="tel:+71234567890" class="uk-button uk-button-secondary">Получить консультацию</a>
          </div>
        </div>
        <div>
          <div class="uk-card uk-card-default uk-card-body">
            <img src="https://via.placeholder.com/600x400"
                 alt="Проект 1"
                 class="uk-margin-bottom">
            <h3 class="uk-card-title">Строительство домов</h3>
            <p>Мы предлагаем полный спектр услуг по строительству домов «под ключ» с использованием современных технологий.</p>
            <a href="tel:+71234567890" class="uk-button uk-button-secondary">Получить консультацию</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
